<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateKupciTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateKupciLabel_id}" for="id" />
                    <h:inputText id="id" value="#{kupciController.selected.id}" title="#{bundle.CreateKupciTitle_id}" required="true" requiredMessage="#{bundle.CreateKupciRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateKupciLabel_ime}" for="ime" />
                    <h:inputText id="ime" value="#{kupciController.selected.ime}" title="#{bundle.CreateKupciTitle_ime}" required="true" requiredMessage="#{bundle.CreateKupciRequiredMessage_ime}"/>
                    <h:outputLabel value="#{bundle.CreateKupciLabel_prezime}" for="prezime" />
                    <h:inputText id="prezime" value="#{kupciController.selected.prezime}" title="#{bundle.CreateKupciTitle_prezime}" required="true" requiredMessage="#{bundle.CreateKupciRequiredMessage_prezime}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{kupciController.create}" value="#{bundle.CreateKupciSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{kupciController.prepareList}" value="#{bundle.CreateKupciShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateKupciIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
