<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditKupciTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditKupciLabel_id}" for="id" />
                    <h:inputText id="id" value="#{kupciController.selected.id}" title="#{bundle.EditKupciTitle_id}" required="true" requiredMessage="#{bundle.EditKupciRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditKupciLabel_ime}" for="ime" />
                    <h:inputText id="ime" value="#{kupciController.selected.ime}" title="#{bundle.EditKupciTitle_ime}" required="true" requiredMessage="#{bundle.EditKupciRequiredMessage_ime}"/>
                    <h:outputLabel value="#{bundle.EditKupciLabel_prezime}" for="prezime" />
                    <h:inputText id="prezime" value="#{kupciController.selected.prezime}" title="#{bundle.EditKupciTitle_prezime}" required="true" requiredMessage="#{bundle.EditKupciRequiredMessage_prezime}"/>
                </h:panelGrid>
                <h:commandLink action="#{kupciController.update}" value="#{bundle.EditKupciSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditKupciViewLink}"/>
                <br />
                <h:commandLink action="#{kupciController.prepareList}" value="#{bundle.EditKupciShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditKupciIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
