<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProdajaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProdajaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{prodajaController.selected.id}" title="#{bundle.EditProdajaTitle_id}" required="true" requiredMessage="#{bundle.EditProdajaRequiredMessage_id}"/>
                </h:panelGrid>
                <h:commandLink action="#{prodajaController.update}" value="#{bundle.EditProdajaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProdajaViewLink}"/>
                <br />
                <h:commandLink action="#{prodajaController.prepareList}" value="#{bundle.EditProdajaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProdajaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
