<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProdajaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProdajaLabel_id}"/>
                    <h:outputText value="#{prodajaController.selected.id}" title="#{bundle.ViewProdajaTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{prodajaController.destroyAndView}" value="#{bundle.ViewProdajaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProdajaEditLink}"/>
                <br />
                <h:commandLink action="#{prodajaController.prepareCreate}" value="#{bundle.ViewProdajaCreateLink}" />
                <br />
                <h:commandLink action="#{prodajaController.prepareList}" value="#{bundle.ViewProdajaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProdajaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
